<?xml version='1.0' encoding='utf-8'?>
<widget id="com.foodzy.app" version="1.0.1" xmlns="http://cordova.apache.org/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0/1.0">
    <name>Foodzy</name>
    <description>Foodzy Food Delivery App</description>
    <author email="support@foodzy.com" href="http://foodzy.com">Foodzy</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="Orientation" value="portrait" />
</widget>
